* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* first-Section */

.logo {
    padding: 22px;
}

.logo img {
    width: 96px;
}

.humburger {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* top: 0; */
    cursor: pointer;
}

.nav-list {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 2rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.fa-solid.fa-bars {
    display: none;
}

.background {
    background: url("image\ 43.png");
    background-size: cover;
    background-blend-mode: darken;
    background-color: #17617e;
}

.first p {
    color: white;

}

.box-main {
    font-family: jost;

    max-width: 50%;
    padding-top: 12%;
    padding-left: 4%;
}

.firstSection {
    height: 80vh;
}

.first {
    font-size: 45px;
}

.button {
    padding-top: 50px;
}

.btn:hover {
    color: #cb8e1e;
    background-color: white;
}

.btn {
    cursor: pointer;
    font-size: 15px;
    padding: 13px 45px;
    border: 3px solid transparent;
    background-color: #cb8e1e;
    color: white;
}

/* Second-Section */

.second-sec {
    margin-top: 4%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.about-us {
    width: 50%;
    text-align: initial;
    padding-left: 5%;
    padding-top: 3%;
}

.about-us h2 {
    font-size: 28px;
    font-family: jost;
}

.about-us p {
    font-family: jost;
    padding-top: 2%;
    line-height: 30px;
}

.img {
    width: 50%;
}

.img img {
    width: 52%;
}

/* Third Section */

.offering {
    text-align: center;
    margin-top: 5%;
}

.offering h2 {
    font-size: 28px;
    font-family: jost;
}

.offering p {
    font-family: jost;
    margin-top: 1.2%;
    font-size: 14px;
}

.main-div {
    margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 4%;
}

.first-div {
    display: flex;
}

.second-div {
    display: flex;
}

.oracle {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #cbcaca;
    margin-right: 2%;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.oracle-img img {
    width: 100%;
}

.cloud {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #cbcaca;
    margin-right: 2%;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.cloud-img img {
    width: 100%;
}

.business {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #cbcaca;
    margin-right: 2%;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.business-img img {
    width: 100%;
}

.resourse {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #cbcaca;
    margin-right: 2%;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.resourse-img img {
    width: 100%;
}

.btn-1 {
    padding-top: 0px;
    text-align: center;
}

.btn-2 {
    background-color: #0D89CA;
}

.btn-2:hover {
    color: #0D89CA;
    background-color: white;
    border: 1px solid #0D89CA;

}

/* Forth-Section */

.partner {
    margin-top: 3%;
}

.partner h1 {
    font-family: jost;
    text-align: center;
    line-height: 2;
}

.partner p {
    font-family: jost;
    width: 98%;
    font-size: 18px;
    text-align: center;
    padding: 0% 4%;
}

.horizontal {
    display: flex;
    margin-top: 2%;
}

.first {
    display: flex;
}

.second {
    display: flex;
}

/* Fifth-Section */

.testimonial{
text-align: center;
margin-top: 3%;
}
.testimonial p{
    margin-top: 2%;
}

.test{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 94%;
    padding-left: 7%;
}
.first-1{
    margin-right: 1%;
    margin-top: 2%;
    padding-top: 2%;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px
}
.first-1 p{
    padding: 5% 5% 0% 5%;
}
.second-2{
    padding-top: 2%;
    margin-top: 2%;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px
}
.second-2 p{
    padding: 5% 5% 0% 5%;}
.third-3{
height: 300px;
    margin-left: 1%;
    padding-top: 2%;
    margin-top: 2%;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px rgba(162, 184, 193, 0.5);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px
}
.third-3 p{
    padding: 5% 5% 0% 5%;
}
.ellipse img{
    padding-top: 2%;
    position: absolute;
    margin-left: -4%;
   
}
.gray{
    background-color: #A2B8C1;
    height: 140px;
    margin-top: 23%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    
}
.gray h3{
    padding-top: 22%;
    color: white;
    font-weight: 100;
    font-family: jost;
}
.btn-3{
    margin-top: 5%;
}

/* Sixth-Section */

.blog h1{
    text-align: center;
    margin-top: 4%;
    font-family: jost;
    font-size: 40px;
}
.blog-1{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.blog-1 img{
    width: 75%;
}

.content{
    display: flex;
    justify-content: space-around;
    color: #A88427;
    margin-top: 2%;
    
}
.content-2{
    margin-right: 20%;
}
.wrapper{
    margin-left: 14%;
    margin-right: -10%;
}
.blog-1 p{
    text-align: center;
    padding-right: 20%;
    margin-top: 3%;
    font-family: jost;
    line-height: 19px;
}
.read{
    text-align: center;
    margin-top: 3%;
    padding-right: 22%;
}
.line{
    margin-top: 3%;
}
.btn-4{
    background-color: white;
    color: #0D89CA;
    border: 1px solid #0D89CA;
}

/* Seventh-section */


.contact{
    margin-top: 3rem;
    text-align: center;
}
.contact h1{
    font-size: 2rem;
}
.head p{
    margin-top: 2rem;
    line-height: 1;
    font-size: 1rem;
 }
 .hero-btn{
    display: inline-block;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    border:1px solid white;
    padding:12px 34px;
    font-size:13px;
    background:#0D89CA;
    cursor: pointer;
    margin-top: 21px;
   }
   .hero-btn:hover{
    border: 1px solid #0D89CA;
    background: white;
color: #0D89CA;
   }
 .form{
    margin-top: 8rem;
    width: 303px;
    height: 386px;
    background:white;
    border-radius: 10px;
    padding: 25px;
    margin-left: 5rem;
    border: 1px solid #DDDDDD;
 }
 .form input{
    width: 232px;
height:35px;
background: #E8E8E8;
border:1px solid #DDDDDD;
color: white;
font-size: 15px;
letter-spacing: 1px;
margin-top: 30px;
padding-left: 4%;
 }

  .form textarea{
      width:232px;
  height:6rem;
    margin-top: 2rem;
background:#E8E8E8;
border:1px solid #DDDDDD;
color: white;
font-size: 15px;
letter-spacing: 1px;
margin-top: 30px;
padding-left: 4%;

 } 
 .form h2{
    color: black;
 }
 .top{
    display: flex;
    justify-content:space-around;
    margin-top: 7rem;
 }
 .mobile{
  margin-right:9rem;  
 }
 .letter{
    margin-right: 8rem;
 }
 .letter img{
    height: 2rem;
 }
 .special{
    display: flex;
    justify-content: space-evenly;
 }
  .map{
    margin-top: 3rem;
 } 
 .map img{
    width: 60%;
 }
 .other{
    flex-direction: column;
 }
 .font{
    float: left;
    color: blue;
    margin-top: 2rem;
    letter-spacing: 34px;
    margin-bottom: 5%;
 }

 /* Footer */

 .footer{
    margin-top: 5%;
    height: 100px;
    text-align: center;
    background-color: #001C27BF;
    color: white;
    padding-top: 3%;
 }
 .footer h3{
    font-size: 19px;
 }

/* Media Querry */


@media screen and (max-width:1220px) {

    /* third-Section */

    .main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .business {
        padding-top: 1%;
    }

    .resourse {
        padding-top: 1%;

    }
}

@media screen and (max-width:1150px) {

    /* First-Section */

    .humburger {
        display: block;
        cursor: pointer;
        padding-right: 35px;
    }

    .humburger .line {
        width: 30px;
        height: 3px;
        background: rgb(254, 254, 254);
        margin: 6px 0;
    }

    .nav-list {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(0, 0, 0);
        transition: 0.5s;
        overflow: hidden;
    }
    .first p {
        font-size: 36px;
    }

/* Seventh-Section */

.font{
    margin-left: 15%;
}
.top{
    margin-left: 12%;
}
}


@media screen and (max-width:930px) {

    /* second-section */

    .img img {
        width: 50%;
    }

    .about-us h2 {
        font-size: 18px;
    }

    .about-us p {
        line-height: 17px;
        font-size: 13px;
    }

    /* forth-Section */

    .partner p {
        font-size: 15px;
    }

    /* fifth-section */

    .gray h3 {
        padding-top: 30%;
    
    }
    .ellipse img{
        margin-left: -5%;
    }

/* Sixth-Section */

.blog-1 p{
    font-size: 13px;
}

/* Seventh-Section */

.special{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top{
    margin-left: 12%;
}
.font{
float: none;
}
}

@media screen and (max-width:730px) {
    /* forth-Section */

    .partner p {
        font-size: 12px;
    }

/* Fifth-Section */
.test{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.first-1{
    width: 79%;
}
.second-2{
    width: 79%;
}
.third-3{
    width: 79%;
}
.ellipse img {
    padding-top: 7%;
    margin-left: -7%;
}
.gray h3 {
    padding-top: 20%;
}
 .btn-3 {
    margin-top: 20%;
}

/* Sixth-Section */

.blog-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.wrapper {
    margin-left: 0%;
    text-align: center;
    margin-right: 0.1%;
}
.wrapper-1{
    text-align: center;
    margin-top: 5%;

}
.content{
    padding-left: 13%;
}
.blog-1 p{
    padding-right: 0%;
}
.read{
    padding-right: 0%;
}

/* footer */

.footer{
   
    padding-top: 5%;
}

}

@media screen and (max-width:630px) {

    /* First-Section */

    .logo img {
        width: 96px;
    }

    .first p {
        font-size: 28px;
    }

    .btn {
        padding: 10px 30px;

    }


    /* Second-Section */

    .img img {
        width: 60%;
    }

    .about-us p {
        line-height: 17px;
        font-size: 10px;
    }

    /* Third-Section */


    .offering h2 {
        font-size: 23px;
    }

    .offering p {
        font-size: 11px;
    }

    .main-div p {
        font-size: 12px;
    }


    /* Forth-section */

    .partner h1 {
        font-size: 23px;
    }

    /* fifth-Section */

    .btn-3 {
        margin-top: 20%;
    }

/* footer */

.footer{
    padding-top: 5%;
}
.footer h3{
    font-size: 14px;

}

}

@media screen and (max-width:450px) {

    /* First-Section */

    .logo img {
        width: 80px;
    }

    .first p {
        font-size: 20px;
    }

    /* Second-Section */

    .second-sec {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .img img {
        width: 125%;
        margin-left: -11px;
    }

    .about-us {
        width: 100%;
        text-align: center;
        margin-bottom: 4%;
        padding-left: 0%;
    }

    .about-us h2 {
        font-size: 23px;
    }

    .about-us p {
        line-height: 17px;
        font-size: 14px;
    }

    /* Third-Section */

    .main-div h3 {
        font-size: 13px;
    }

    .main-div p {
        font-size: 10px;
    }
    .first-div{
        margin-left: 2.5%;
    }
    .second-div{
        margin-left: 2.5%;
        margin-top: 2%;
    }
    .oracle-img{
        margin-top: -4px;
    }
    .cloud-img{
        margin-top: -4px;
    }
    .business-img{
        margin-top: -6px;
    }
    .resourse-img{
        margin-top: -6px;

    }

    /* forth-Section */

    .horizontal {
        display: flex;
       flex-wrap: wrap;
    }
    .partner p {
        font-size: 14px;
    }

/* Fifth-Section */

.test{
    margin-top: 5%;
    padding-left: 0%;
    width: 100%;
}

.gray h3 {
    padding-top: 28%;
}
.test {
    margin-top: 5%;
}
.ellipse img{
    margin-left: -12%;
}
.gray{
    border-radius: 0px 0px 7px 7px;
}

.btn-3 {
    margin-top: 60%;
}
.btn-4{
    margin-top: 23%;
}

/* seventh-section */

.top {
    margin-right: 10%;
}
.mobile {
    margin-right: 0rem;
}

/*Footer  */
.footer{
    padding-top: 8%;
}
.footer h3{
    font-size: 12px;
}
}

@media screen and (max-width:390px) {

/* fifth-Section */

.ellipse img{
    width: 23%;
    padding-top: 4%;
}
.gray h3{
    font-size: 15px;
    padding-top: 34%;
}

/* Seventh-Section */

.letter {
    margin-right: 0rem;
}
.form{
    margin-left: 0rem;
}

/* footer */

.footer{
    padding-top: 12%;
}
.footer h3 {
    font-size: 13px;
}
}